// Variables

$orange: #e23000;
$white: #ffffff;
$black: #000000;
$dark-gray: #3d3d3d;

$primary-font: "Moonshiner Round", sans-serif;
$secondary-font: "Myriad Pro", sans-serif;

$normal: 400;
$bold: 700;

$base: 16px;