// Hero

#hero-wrapper {
    position: relative;
    height: 1000px;
    width: 100%;
    background-color: #669284;
    background-image: url(../assets/images/flame-particles-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 40px;

    @media only screen and (max-width: 576px) {
        height: 100vh;
        padding-top: 0;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9206057423) 12%, rgba(0, 212, 255, 0) 60%);
        z-index: 2;
    }

    .artist {
        text-align: center;
        // mix-blend-mode: luminosity;
        position: relative;
        z-index: 2;
        background-image: url(../assets/images/guitarist.png);
        background-position: bottom;
        // background-size: 100% auto;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        @media only screen and (max-width: 576px) {
            background-size: 400px;
            // background-size: cover;
            background-image: url(../assets/images/guitarist-mobile.png);
            // height: 80%;
        }

        &:after {
            content: "";
            background-image: url(../assets/images/hero-gradient-b.png);
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
        }
    }

    .flame {
        background-color: #669284;
        mix-blend-mode: hard-light;
        // background-image: url(../assets/images/flame-particles.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .artist-bg {
        background-image: url(../assets/images/artist.jpg);
        // background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    img {
        max-width: 280px;

        @media only screen and (max-width: 576px) {
            max-width: 190px;
            margin-top: 6.5rem;
        }
        
    }
    
    .social-media-icons {
        margin-top: 1rem;

        @media only screen and (max-width: 576px) {
            ul {
                flex-flow: row wrap;

                li {
                    flex-basis: 33%;

                    .smi-icon {
                        margin: 0 auto 1rem;
                    }
                }
            }
            
            
        }
    }
}