.social-media-icons {
    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: 0 10px; 
            
            .smi-icon {
                width: 20px;
                height: 20px;
                display: block;
                background-repeat: no-repeat;
                transition: all .3s ease-in-out;

                &.facebook {
                    background-image: url(../assets/images/icons/facebook-logo-white.png);
                    width: 15px;
                    height: 27px;

                    &:hover {
                        background-image: url(../assets/images/icons/facebook-logo.png);
                    }
                }
                &.youtube {
                    background-image: url(../assets/images/icons/youtube-logo-white.png);
                    width: 27px;
                    height: 20px;

                    &:hover {
                        background-image: url(../assets/images/icons/youtube-logo.png);
                    }
                }
                &.instagram {
                    background-image: url(../assets/images/icons/instagram-logo-white.png);
                    width: 22px;
                    height: 22px;

                    &:hover {
                        background-image: url(../assets/images/icons/instagram-logo.png);
                    }
                }
                &.snapchat {
                    background-image: url(../assets/images/icons/snapchat-logo-white.png);
                    width: 24px;
                    height: 22px;

                    &:hover {
                        background-image: url(../assets/images/icons/snapchat-logo.png);
                    }
                }
                &.twitter {
                    background-image: url(../assets/images/icons/twitter-logo-white.png);
                    width: 26px;
                    height: 22px;

                    &:hover {
                        background-image: url(../assets/images/icons/twitter-logo.png);
                    }
                }
                &.apple {
                    background-image: url(../assets/images/icons/apple-logo.png);
                    width: 28px;
                    height: 28px;

                    &:hover {
                        // background-image: url(../assets/images/icons/twitter-logo.png);
                    }
                }
                &.old-youtube {
                    background-image: url(../assets/images/icons/old-youtube-icon.png);
                    width: 26px;
                    height: 26px;

                    &:hover {
                        // background-image: url(../assets/images/icons/twitter-logo.png);
                    }
                }
                &.soundcloud {
                    background-image: url(../assets/images/icons/soundcloud.png);
                    width: 25px;
                    height: 25px;

                    &:hover {
                        // background-image: url(../assets/images/icons/twitter-logo.png);
                    }
                }
                &.spotify {
                    background-image: url(../assets/images/icons/spotify-icon.png);
                    width: 26px;
                    height: 26px;

                    &:hover {
                        // background-image: url(../assets/images/icons/twitter-logo.png);
                    }
                }
            }
        }
    }
}