.section-title {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;

    h2 {
        margin-bottom: 20px;

        &:after {
            position: absolute;
            left: 0;
            right: 0;
            top: -60px;
            margin: auto;
            opacity: .2;
            font-size: 116px;
            letter-spacing: 19px;
        }
    }

     p {
         text-transform: uppercase;
         font-family: "Myriad Pro Condensed", sans-serif;
         letter-spacing: 2px;
     }
}

#videos-wrapper {
    padding: 5em 0;
    overflow: hidden;

    .video h2 {
        &:after {
            content: "Videos";
        }
    }

    .social-btns {
        margin-bottom: 1rem;
    }

    .videos {
        position: relative;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background-image: url(../assets/images/video-placeholder.png);
            background-size: cover;
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
        }

        iframe {
            width: 100%;
        }
    }
}

.music {

    @media only screen and (max-width: 768px) {
        padding-top: 5rem;
    }
    h2 {
        &:after {
            content: "Music";
        }
    }
}



.music-items {
    border: 1px solid $white;
    max-width: 410px;
    margin: auto;
    padding: 1rem 0;

    .album {
        display: flex;
        align-items: center;
        padding: 0 2rem;

        .album-image {
            margin-right: 1.5rem;
            width: 82px;
            height: 82px;
            border-radius: 100%;
            overflow: hidden;

            img {
                margin-left: -40px;
            }
        }

        .album-title {
            h3 {
                font-family: $secondary-font;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            p {
                font-family: $secondary-font;
                font-size: 12px;
                margin-top: 6px;
            }
        }
    }

    .album-lists {
        margin-top: 1rem;
        

        ol {
            list-style-type: decimal;
            padding: 0 2rem;
            display: flex;
            flex-flow: column wrap;

            li {
                padding: 4px 0;
                position: relative;
                z-index: 1;
                display: flex;
                align-items: center;

                &.is-active {
                    &:after {
                        width: calc(100% + 4rem );
                        content: "";
                        height: 100%;
                        background-color: #202020;
                        position: absolute;
                        top: 0;
                        left: -2rem;
                        z-index: -1;
                    }
                }

                .title {
                    width: calc(100% - 55px);
                    display: inline-block;
                    font-family: $secondary-font;
                    letter-spacing: 1px;
                }

                .song-duration {
                    width: 50px;
                    display: inline-block;
                    text-align: right;
                }
            }
        }
    }
}

#tour-wrapper {
    position: relative;
    padding: 3em 0;

    h2 {
        &:after {
            content: "Tour";
            top: -40px;
        }
    }

    .tour-items {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        margin-top: 3rem;

        .tour-item {
            flex-basis: calc(100%/2);
            display: flex;
            align-items: flex-start;
            margin-bottom: 3rem;
            padding: 0 15px;
            position: relative;

            @media only screen and (max-width: 768px) {
                align-items: center;
                flex-basis: 100%;
                width: 100%;
            }

            @media only screen and (max-width: 576px) {
                flex-flow: column wrap;
            }

            .tour-details {
                padding-right: 50px;
                flex-basis: 50%;

                @media only screen and (max-width: 576px) {
                    flex-basis: 100%;
                    order: 2;
                    padding-right: 0;
                    margin-top: 1rem;
                    width: 100%;
                }

                h3.tour-title, .tour-date {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: $secondary-font;

                    @media only screen and (max-width: 576px) {
                        font-size: 1.8rem;
                    }
                }

                .tour-date {
                    display: block;
                    margin-top: 5px;
                }

                p.tour-location {
                    font-family: $secondary-font;
                    margin-top: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 12px;
                    line-height: 1.3;

                    @media only screen and (max-width: 576px) {
                        font-size: 14px;
                    }
                }
            }
            .tour-image {
                position: relative;
                flex-basis: 50%;
                text-align: center;

                @media only screen and (max-width: 576px) {
                    flex-basis: 100%;
                    order: 1;
                    width: 100%; 

                    img {
                        width: 100%;
                    }
                }

                .tour-btn {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background-color: rgba(0,0,0,.7);
                    text-align: center;
                    padding: 10px;

                    span {
                        font-family: $secondary-font;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}

#merchandise-wrapper {
    position: relative;

    .merchandise-item {
        flex-flow: row wrap;
        display: flex;
        align-items: center;
        background-color: $white;

        .merchandise-info {
            flex-basis: 50%;
            text-align: center;
            background-color: $white;
            min-height: 380px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            position: relative;

            @media only screen and (max-width: 992px) {
                flex-basis: 100%;
            }

            h2 {
                font-size: 6rem;
                color: $black;
                text-transform: uppercase;

                @media only screen and (max-width: 576px) {
                    font-size: 3.5rem;
                    letter-spacing: 8px;
                }
            }

            h3 {
                font-size: 3rem;
                color: $orange;
                letter-spacing: 10px;
                text-transform: uppercase;
                font-family: $secondary-font;
                margin: 1.5rem 0;

                @media only screen and (max-width: 576px) {
                    font-size: 2rem;
                    letter-spacing: 6px;
                }
            }

            p {
                color: #000;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-family: $secondary-font;
                font-size: 26px;

                @media only screen and (max-width: 576px) {
                    font-size: 20px;
                }
            }

            span {
                font-size: 55px;
                color: #000;
                text-transform: uppercase;
                letter-spacing: 1px;
                position: absolute;
                right: 20px;
                bottom: 20px;
                font-family: "Moonshiner Regular Lines", sans-serif;
            }
        }

        .merchandise-image {
            flex-basis: 50%;
            text-align: center;
            background-color: #000;
            min-height: 380px;

            @media only screen and (max-width: 992px) {
                flex-basis: 100%;
                padding: 2rem 0;
            }

            img {
                margin: 0 auto;
            }
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        right: 5rem;
        flex-flow: column;
        margin: 0;
        padding: 1rem 0;        
        list-style-type: none;

        @media only screen and (max-width: 768px) {
            right: 2rem;
        }
        
            li {
                margin: 0.5rem 0;
            }
        
            button {
                display: block;
                width: 0.7rem;
                height: 0.7rem;
                padding: 0;
                border: none;
                border-radius: 100%;
                background-color: $white;
                text-indent: -9999px;
            }
        
            li.slick-active button {
                border: 1px solid $white;
                background-color: transparent;
            }
        
    }
}



#footer-form-wrapper {
    position: relative;
    padding: 5rem 0 3rem;
    text-align: center;

    .sign-up-form {
        position: relative;

        h2 {
            font-size: 70px;
            color: $white;
            font-family: "Moonshiner Regular Lines",sans-serif;

            span {
                display: block;
                color: $orange;
                font-size: 60px;
                font-style: italic;
                font-family: $primary-font;
            }
        }

        #sign-up {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;

            @media only screen and (max-width: 768px) {
                flex-flow: column wrap;
            }

            .input-field {
                width: 75%;

                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
                label {
                    display: none;
                }

                input[type="email"] {
                    width: 100%;
                    height: 70px;
                    text-align: center;
                    background-color: #3d3d3d;
                    color: #000;
                    font-family: $secondary-font;
                    font-size: 26px;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 10px;
                    letter-spacing: 3px;

                    
                }
            }

            input[type="submit"] {
                width: 25%;
                height: 70px;
                background-color: $white;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: $secondary-font;
                font-size: 26px;
                border: none;
                margin-left: 40px;
                border-radius: 10px;

                @media only screen and (max-width: 768px) {
                    width: 100%;
                    margin-top: 2rem;
                    margin-left: 0;
                }
            }
        }
    }
}

#footer {
    position: relative;
    border-top: 40px solid #fff;
    padding: 5rem 0 3rem;

    @media only screen and (max-width: 768px) {
       text-align: center;
    }

    .row {
        align-items: center;
    }

    .footer-copyright {
        font-size: 16px;
        font-family: $secondary-font;
        margin-top: 12px;
        letter-spacing: 1px;
    }

    .social-media-icons ul {
        align-items: flex-end;
        justify-content: flex-end;

        @media only screen and (max-width: 768px) {
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
        }
    }

    @media only screen and (max-width: 576px) {
        .order-sm-1 {
            -ms-flex-order: 1;
            order: 1;
        }
        .order-sm-2 {
            -ms-flex-order: 2;
            order: 2;
        }
    }

    .footer-logo {
        img {
            width: 100%;
            max-width: 370px;
        }
    }
}